DiscordMinimal.py
.dockerignore
Dockerfile
docker-compose.yml
docker-compose.debug.yml
SnakeBot.code-workspace
.gitignore



#ignore these folders
_pycache_/
logs/
.vscode/
temp/

#ignore log files
*.log

#ignore pycache
*.pyc

Untitled.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.vscode/settings.json
__pycache__/db_handler.cpython-36.pyc
.vscode/settings.json
__pycache__/bg.cpython-36.pyc
__pycache__/cmdReg.cpython-36.pyc
__pycache__/cmdRoster.cpython-36.pyc
settings.json
SnakeBot.code-workspace
.gitignore
