aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
chardet==3.0.4
discord.py==1.5.1
et-xmlfile==1.0.1
idna==2.10
jdcal==1.4.1
motor==2.3.0
multidict==4.7.6
numpy==1.22.0
openpyxl==3.0.6
pandas==1.1.0
pymongo==3.11.0
python-dateutil==2.8.1
pytz==2020.1
shortuuid==1.0.1
six==1.15.0
yarl==1.5.1
